{% extends "base.html" %}

{% block nav %}
    <a href="{% url 'mainpage:mainpage' %}">Strona Główna</a>
    <span>&nbsp;&#8226;&nbsp;</span>
    <a href="{% url 'manager:manage' %}">Zarządzanie</a>
    <span>&nbsp;&#8226;&nbsp;</span>
    <a href="{% url 'auths:logout' %}">Wyloguj</a>
    <hr>
    <a href="{% url 'manager:manage' %}">Zarządzanie</a>
    &nbsp;>>&nbsp;
    <span>Mecze</span>
    <hr>
    <a href="{% url 'manager:match-create' %}">Dodaj</a>
{% endblock %}

{% block content %}

<h3>Strona Meczy</h3>

<h5>Wszystkie Mecze</h5>

<ul>
    {% for match in object_list %}
        <li>{{ match }} &nbsp; <a href="{% url 'manager:match-edit' match.pk %}">edytuj</a> &nbsp; <a href="{% url 'manager:match-delete' match.pk %}">usuń</a></li>
    {% endfor %}
</ul>

{% endblock %}