

{% extends "base.html" %}

{% block nav %}
    <a href="{% url 'mainpage:mainpage' %}">Strona Główna</a>
    <span>&nbsp;&#8226;&nbsp;</span>
    <a href="{% url 'manager:manage' %}">Zarządzanie</a>
    <span>&nbsp;&#8226;&nbsp;</span>
    <a href="{% url 'auths:logout' %}">Wyloguj</a>
    <hr>
    <a href="{% url 'manager:manage' %}">Zarządzanie</a>
    &nbsp;>>&nbsp;
    <a href="{% url 'manager:group' %}">Grupy</a>
    &nbsp;>>&nbsp;
    <span>Auto Przypisz Do Grup</span>
    <hr>
    <a href="{% url 'manager:group-create' %}">Dodaj</a>
    <span>&nbsp;&#8226;&nbsp;</span>
    <a href="{% url 'manager:random-assign-group' %}">Auto Przypisz Do Grup</a>
{% endblock %}

{% block content %}

<h3>Strona Automatycznego Przypisywania Grup</h3>
<h6>Zaznacz Drużyny które mają zostać automatycznie przypisane oraz Grupy do których mają zostać przypisane drużyny</h6>

<form method="POST">
    {% csrf_token %}
    {{ team_form }}
    {{ group_form }}

    <button type="submit">Przypisz</button>
</form>

{% endblock %}